
.colorpickerReplacer {
	background-color: white;
	border-color: #888888;
	width : 70px;
	height : 44px;
}

.sp-replacer:hover, .sp-replacer.sp-active {
	border-color: #888888;
}

.sp-preview {
	width : 68px;
	height : 42px;
}

.sp-dd {
	display : none;
}

.sp-thumb-el {
	width : 50px !important;
	height : 50px !important;
}

.sp-picker-container  {
	width : 300px !important;
	height : 300px !important;
}

.sp-palette {
	max-width : 600px !important;
}

.actionsContainer {
	max-width: 930px;
	min-width: 930px;
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	flex-flow: row nowrap;
	-webkit-flex-flow: row nowrap;
	justify-content: flex-start;
	-webkit-justify-content: flex-start;
	align-items: center;
	-webkit-align-items: center;
	font-size: 18px;
	font-weight: normal;
}

.action {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	flex: 0 1 80px;
	-webkit-flex: 0 1 80px;
	justify-content: center;
	-webkit-justify-content: center;
	color: #888888;
}

.action:hover {
	cursor: pointer;
}

.header-action {
	margin: 0px 20px;
}

.active-size {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAMdJREFUOE+tkgsNwzAMRMugEAahEAahEAZhEAqlEAZhEAohEAYh81X2dIm8fKpEspLGvudPOsUYpxE2BIJCroJmEW9qJ+MKaBFhEMNabSy9oIcIPwrB+afvAUFoK4H0tMaQ3XtlrggDhOVVMuT4E5MMG0FBbCEYzjYT7OxLEvIHQLY2zWwQ3D+9luyOQTfKDiFD3iUIfPk8VqrKjgAiSfGFPecrg6HN6m/iBcwiDAo7WiBeawa+Kwh7tZoSCGLMqwlSAzVDhoK+6vH4G0P5wdkAAAAASUVORK5CYII=);
	background-position: 90% 50%;
	background-repeat: no-repeat;
	background-color: #ECECEC;
}

.brush-size-item {
	font-size: 24px;
	padding: 30px 25px !important;
}

.divider {
	background-color: #888888;
	border-color: #888888;
}

.dropdown-menu {
	min-width: 0px !important;
}
